.form {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 7em;
}


.div {
    /* border: 1px dashed red; */
    display: flex;
    align-items: center;
    gap: 15px;
}
