.itemCartContainer {
    /* border: 2px solid green; */
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    width: 30%;
    height: 100%;
    /* border: 2px solid red; */
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* MIDDLE DIV */

.middleDivContainer {
    width: 45%;
    /* border: 1px solid purple; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.middleDivContainer h4{
    text-align: center;
    /* border: 1px solid red; */
    font-size: 0.9em;
}

/* MIDDLE DIV */



/* TRASH CONTAINER */


.trashContainer {
    /* border: 1px dashed orange; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashContainer button {
    /* padding: 5px; */
    cursor: pointer;
    background-color: transparent;
    outline-style: none;
    border: none;
}

/* TRASH CONTAINER */
