.footer{
    height: 300px;
    border-top: 1px solid rgba(36, 36, 36, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div{
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.footer div h5{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer div ul{
    list-style: none;
}
.footer div ul li{
    cursor: pointer;
}

.footer div ul li:hover{
    text-decoration: underline;
}




.secondDiv{
    /* border: 1px solid red; */
    /* margin: 3em; */
    padding-left: 6.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.secondDiv div{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 10%;
}

.social{
    cursor: pointer;
    font-size: 1.3em;
    transition: all ease-in-out .3s;
}

.social:hover{
    transform: translateY(-5px);
}