.container{
    width: 100%;
    /* height: 100vh; */
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: url(../../public/IMAGES/laptop\ one.png);
    /* background-image: url(https://pixabay.com/photos/laptop-workstation-browsing-tablet-1483974/); */
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 3px solid red; */
}


@media(max-width: 1000px){
    .container{
        height: 90%;
    }
    .banner{
        background-size: contain;
    }
}





/* Section One */


.sectionOne {
    width: 100%;
    min-height: 90vh;
    /* border: 2px dashed red; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sectionOneFirstDiv{
    width: 80%;
    /* border: 2px dotted purple; */
}

.sectionOneFirstDiv h2{
    font-size: 3.8vw;
    color: rgb(36, 36, 36);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}


.sectionOneSecondDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 5px dashed blue; */
    width: 100%;
}

.sectionOneSecondDiv .insideDiv{
    /* border: 2px solid brown; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
}


.sectionOneSecondDiv .insideDiv div{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}


.sectionOneSecondDiv .insideDiv div h5{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


.icon{
    font-size: 6vw;
}

.sectionOneSecondDiv .insideDiv  p{
    text-align: center;
  
}

/* Section One */



@media (max-width: 900px){
    .sectionOneSecondDiv{
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
        margin-top: 2em;
    }

    .sectionOneFirstDiv h2{
        font-size: 4.5vw;
    }

    .sectionOneSecondDiv .insideDiv{
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        border-radius: 25px;
        padding: 5em;
    }

    .sectionOneSecondDiv .insideDiv div{
        justify-content: center;
    }

    .sectionOneSecondDiv .insideDiv div h5{
        font-size: 6vw;
    }

    .icon{
        font-size: 10vw;
    }
}   









/* Section two */

.sectionTwo {
    /* border: 2px dashed red; */
    width: 100%;
    min-height: 90vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sectionTwo h2{
    font-size: 3em;
    font-weight: bold;
    color: rgb(36, 36, 36);
    text-align: center;
}


.sectionTwo .divTwo{
    /* border: 2px solid orange; */
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sectionTwo .divTwo div {
    width: 40%;
    /* border: 2px dashed green; */
    cursor: pointer;
}


.sectionTwo .divTwo div img{
    width: 100%;
    object-fit: contain;
    border-radius: 25px;
}


@media(max-width: 900px){
    .sectionTwo{
        padding: 15px;
        justify-content: center;
    }

    .sectionTwo .divTwo{
        flex-direction: column;
    }

    .sectionTwo h2{
        font-size: 5vw;
        margin-bottom: 1em;
    }

    .sectionTwo .divTwo{
        gap: 2em;
    }
    
    .sectionTwo .divTwo div{
        width: 60%;
    }
}